body {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
}
a {
	text-decoration:none;
}
section.menu a{
	border-width: 4;
	color:#AE7C78;
	text-decoration:none;
}
.main-menu {
	font-weight: 400;
	padding: 22px;
	margin-top: 20px;
	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	width: 100%;
}

.menu {
  text-align: center;
  position: relative;
}
.logo {
	position:absolute;
	left: 46%;
	top: 3px;
}
section.menu ul {
	display: inline-block;
}
section.menu li {
	padding-right: 90px;

}
.hspace {

	padding-left: 150px;
}



section.menu a {
	text-decoration: none;
	

}
li {
	list-style-type: none;
	display: inline-block;
}
section.intro a {
	padding: 10px 10px;/* отступы от текста до краев */
	text-decoration: none;/* убираем декорирование */
	background: #D89999;
	color: #FFFFFF;
	
}
.intro-head h1 {
	font-family: Playfair Display;
	color: #AE7C78;
}

section.intro div img {
	position: absolute;
}
.intro-head p {
	color: #AE7C78;
}
section.intro h4{
	color: #AE7C78;
}
.intro-head {
    overflow: auto;
}
.intro-main {
	display: block;
    margin-left: auto;
    margin-right: auto
}
div.intro-main h4 {
	color: #AE7C78;
}
div.intro-main p {
	color: #AE7C78;
}
section.intro div {
	display: flex;
	text-align: left;
}
section.catalog ul {
	display: flex;
}
.intro-head a {
	color: white;
	line-height:40px;
	font-size: 32px;
	background: #D89999;
	border-radius: 60px;
}
div.blank {
	color: #AE7C78;
	float: left;
}
section.menu-footer ul {
	display: flex;
	text-align: left;
}
section.menu-footer li {
	padding: 10px;
}
section.slider {

	color: #AE7C78;
}
section.slider a {
	padding: 10px 10px;/* отступы от текста до краев */
	text-decoration: none;/* убираем декорирование */
	background: #D89999;
	border-radius: 40px;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
section.slider h1 {
	font-family: Playfair Display;
}
section.Action h1{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
}
section.Action p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
}
section.Steps {
	text-align:center
}
section.Steps h1 {
	color: #AE7C78;
}

section.Steps div {
	flex-wrap:wrap;
	color: #AE7C78;
	float: left; /*Задаем обтекание*/
     
     width: 320px; /*Фиксируем ширину блока*/
     margin-right: 10px;
     text-align: center; /*Центрируем текст по горизонтали*/
}
.pspace1 {
	float: left;
}
.pspace2 {
	float: right;
}

section.ReviewsBlock h1 {
    align-items: center;
    text-align: center;
    

}

section.ReviewsBlock {
	display: inline-block;
	float: left;
	border-color: #AE7C78;
	border-style: solid;
	padding: 10px; /* Поля вокруг текста */
	margin-right: 5px; /* Отступ слева */
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #AE7C78;
}
section.ReviewsBlock div {
	font-family: Montserrat;
}
.News {
	float: left;
}
section.News div {
	flex-direction: row;
	justify-content: stretch;
}
section.News h1{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
	color: #AE7C78;
}
section.News p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: #AE7C78;
}
