a { 
	text-decoration:none;
}
section.menu a{

	color:#AE7C78; 
	text-decoration:none;
}
section.menu {
	border: 4px double pink;
    padding: 10px; /* Поля вокруг текста */
    margin-right: 5px; /* Отступ слева */
    display: flex;
    flex-direction: row;
    justify-content: center; 

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color:#537CBC;



color: #AE7C78;
}

section.menu ul {
	display: flex;
}
section.menu li {
	padding: 10px;
}
section.menu a {
	text-decoration: none;

}
li {
	list-style-type: none;
}
section.intro a {
	padding: 10px 10px;/* отступы от текста до краев */
	text-decoration: none;/* убираем декорирование */
	-moz-appearance: button; /* преобразование для Firefox */
	-webkit-appearance: button; /* преобразование для Chromium */	
	border-radius: 40px;
	background: #D89999;
	border-radius: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
/* identical to box height */


color: #FFFFFF;
}

section.intro {

}

section.intro div {
	display: flex;
	text-align: left;
}
section.catalog ul {
	display: flex;
}
section.catalog a {
	line-height:50px;
}